<main class="login-container">
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>

    <button mat-raise-button appGoogleSignin class="signin-button">
      <img src="../../../assets/google-logo.svg" class="signin-logo"/> Login with Google
    </button>
  </div>

  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>

    <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
  </div>
</main>